:root {
  --main-color: #212121;
  --style-color: #2196f3;
  --background: #2f303a;
  --white: #ffffff;
  --color-contacts: #757575;
  --card-border-color: #eeeeee;
}
* {
  margin: 0;
  padding: 0;
}
img {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:focus {
  color: var(--style-color);
}
body {
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
}
ul {
  list-style-type: none;
}
.second-part-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.first-part-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--style-color);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  padding-left: 93px;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.menu-page {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.hero {
  padding-top: 200px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: var(--background);
  padding-bottom: 200px;
}
.overlay {
  min-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
  background-image: url(../images/hero-back.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  text-align: center;
  font-family: "Roboto";
  width: 696px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
.order.button {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background: var(--style-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);
}
.street {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white);
}
.footer {
  background-color: var(--background);
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
}
.footer.contacts.item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.second-logo-part-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--white);
}
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.advantages-description {
  margin-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--color-contacts);
}
.advantages li:nth-child(n + 2) {
  margin-left: 30px;
}

.advantages-list {
  display: flex;
}
.worker-name {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
  padding-bottom: 10px;
  padding-top: 30px;
}
.worker-job {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--color-contacts);
  text-align: center;
  padding-bottom: 30px;
}
.worker-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team {
  display: flex;
  justify-content: space-between;
}
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.activity {
  padding-bottom: 94px;
}
.team.container li:not(:first-child) {
  margin-left: 30px;
}
.footer.contacts.item.link {
  margin-top: 9px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /*border: 1px solid red;*/
}
.page-title-hero {
  width: 696px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  margin: 0 auto;
}
.page-title {
  margin-bottom: 50px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.address-item {
  margin-bottom: 9px;
  margin-top: 9px;
}
.button-filter {
  border: none;
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 6px;
  padding-bottom: 6px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-block:not(:first-child) {
  margin-left: 8px;
}
.button:focus,
button:hover {
  background: var(--style-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  outline: none;
  border: none;
  color: var(--white);
}
button:focus {
  border: none;
  outline: none;
}
.card-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--background);
  margin-top: 20px;
}
.card-legend {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--color-contacts);
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}
.address {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--color-contacts);
}
.address:not(:last-child) {
  margin-bottom: 10px;
}
.button-panel {
  padding-top: 94px;
  padding-bottom: 50px;
}
.filter-button {
  display: flex;
  justify-content: center;
  align-content: center;
}
.filter-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cards {
  margin-bottom: 30px;
  margin-right: 25px;
  border: 1px solid var(--card-border-color);
}
.cards:nth-child(3) {
  margin-right: 0px;
}
.cards:nth-child(6) {
  margin-right: 0px;
}
.cards:nth-child(9) {
  margin-right: 0px;
}
.cards:nth-child(7) {
  margin-bottom: 0px;
}
.cards:nth-child(8) {
  margin-bottom: 0px;
}
.cards:nth-child(9) {
  margin-bottom: 0px;
}
.grid-container {
  padding-bottom: 94px;
}
.border {
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  color: #ececec;
}
.card-container-info {
  padding-right: 24px;
  padding-left: 24px;
}
/* описание декоративных элементов */

.address {
  display: inline-flex;
  align-content: center;
  cursor: pointer;
}
.link-contacts-envelope {
  margin-left: 10px;
}
.link-contacts-telephone {
  margin-left: 10px;
}

path:hover {
  fill: var(--style-color);
  stroke: var(--style-color);
}
.icon {
  display: flex;
  align-content: center;
  justify-content: center;
}
.advantages-list .icon {
  width: "70px";
  height: "70px";
  margin-bottom: 55px;
}
.worker-icons {
  display: flex;
  margin-right: 32px;
  margin-left: 32px;
  justify-content: space-around;
  align-content: center;
}
.worker-icons li:not(:first-child) {
  margin-left: 22px;
}
.worker-icons li {
  margin-bottom: 32px;
}
.clients-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 94px;
  margin-right: auto;
  margin-left: auto;
}
.social-icons-hover:hover {
  fill: var(--style-color);
  stroke: var(--style-color);
}
.clients-icons li:hover {
  fill: var(--style-color);
  stroke: var(--style-color);
}
.clients-icons li {
  border: #afb1b8 solid 1px;
  border-radius: 4px;
  align-content: center;
  justify-content: center;
}
.clients-icons li:not(:last-child) {
  margin-right: 30px;
}
.clients-icons li:hover {
  color: var(--style-color);
  fill: var(--style-color);
  stroke: var(--style-color);
}
.clients-icons-link {
  width: 170px;
  height: 90px;
}
